<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Listado de Personas</title>
	</head>
	<body>
		<h1>Listado de Personas</h1>
		
		<div th:if="${personas != null and !personas.empty}">
			<table border=1>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>Teléfono</th>
				</tr>
				<tr th:each="persona: ${personas}">
					<td th:text="${persona.nombre}">Nombre Persona</td>
					<td th:text="${persona.apellido}">Apellido Persona</td>
					<td th:text="${persona.email}">Email Persona</td>
					<td th:text="${persona.telefono}">Teléfono Persona</td>
				</tr>
			</table>
		</div>
		
		<div th:if="${personas == null or personas.empty}">
			La lista de personas está vacía
		</div>
	</body>
</html>